DEBUG_MODE=False
# MySQL environment variables
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_HOST=localhost
MYSQL_PORT=9004
MYSQL_DATABASE=catalog
# PostgreSQL environment variables
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=15432
PGDATABASE=cdsr_catalog
